@import url(./default.css);

@import url(./control-panel-differential.css);

@import url(./view-panel.css);


.points-table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
}

.points-table th, .points-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.points-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.points-table tr.table-data-row:nth-child(even) {
    background-color: #f9f9f9;
}

.points-table tr.table-data-row:hover {
    background-color: #f1f1f1;
}